node_modules
artifacts
cache
typechain-types
.env
.venv
node_modules
.env
monitor/__pycache__
monitor/db/__pycache__
monitor/src/__pycache__
monitor/config/__pycache__
monitor/src/tasks/__pycache__

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
